@import '../../styles/partials/layout';

.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-container {
  @include box-layout;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  &__icon {
    display: none;
  }
}

.main-nav {
  ul {
    list-style: none;
    display: flex;
    li {
      padding: 0 1rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .header-container {
    width: 90%;
  }
  .mobile-menu {
    &__icon {
      display: block;
    }
  }

  .main-nav {
    display: none;
  }
}
