@import '../../styles/partials/typography';
.project-item {
  display: flex;
  will-change: transform;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 5rem;
  background: #fff;
  padding: 2rem;
  border-radius: 0rem;
  box-shadow: 0 12.5px 10px rgba(0, 0, 0, 0.015),
    0 100px 80px rgba(0, 0, 0, 0.03);
  font-size: 16px;

  &__number {
    background-color: var(--primary);
    width: 40px;
    height: 40px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  &__info-section {
    order: 1;
    flex: 48%;
    display: flex;
    align-items: center;
  }
  &__section-divider {
    flex: 4%;
    order: 2;
  }
  &__image-section {
    order: 3;
    flex: 48%;
    display: flex;
    justify-content: flex-end;
    img {
      width: 100%;
      max-height: 500px;
      max-width: 500px;
    }
  }

  &[data-position='right'] {
    .project-item__info-section {
      order: 3;
    }
    .project-item__number {
      right: 1rem;
      left: unset;
    }
    .project-item__image-section {
      order: 1;
      justify-content: flex-start;
    }
  }
}

.info {
  &__heading {
    margin-bottom: 2rem;
    h3 {
      font-weight: 500;
      font-size: $font-size-medium;
      &:before {
        content: '►';
        font-size: 1rem;
        padding-right: 0.5rem;
        color: var(--primary);
      }
    }
    p {
      font-size: 1rem;
      color: var(--text-secondary);
    }
  }

  &__tech-stack {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    h3 {
      font-weight: 500;
      margin-bottom: 0.8rem;
      &:after {
        content: '.';
        color: var(--primary);
        font-size: 2.5rem;
        line-height: 1rem;
      }
    }
    &-items {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem 0.5rem;

      p {
        margin-left: 0.5rem;
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .project-item {
    &__number {
      right: 1rem;
      left: unset;
    }
    &__image-section {
      flex: 100%;
      order: 2 !important;
      img {
        width: 100%;
        height: auto;
      }
    }
    &__info-section {
      flex: 100%;
      order: 1 !important;
      margin-bottom: 3rem;
    }

    &__section-divider {
      display: none;
    }
    &[data-position='right'] {
      .project-item__info-section {
        order: 1;
      }
      .project-item__image-section {
        order: 2;
      }
      .project-item__number {
        right: 1rem;
        left: unset;
      }
    }
  }
}
