:root {
  --primary: #083d77;
  --text-secondary: #69696f;
  --background: #fff;
  --background-emphasis: #fff;
  --color-text-primary: #292e31;
  --color-text-secondary: #718096;
  --border-primary: #d8d8d8;
}
